@model ProjetoLoja2DSA.Models.Usuario;

@{
    ViewData["Title"] = "Cadastro";
}

<form asp-action="Cadastro" method="post">
    <h1>Cadastrar Usuário</h1>
    <div>
        <label>Email</label>
        <input tyoe ="email" name="email" required />
        <label>Senha</label>
        <input tyoe="passeword" name="senha" required />
    </div>
    <button>Cadastrar</button>
</form>